name: duration_picker
description: A time picker widget that can select both minutes and hours. Fork from flutter_duration_picker.
version: 1.1.1
homepage: https://github.com/juliansteenbakker/duration_picker

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4